In [11]:
import pandas as pd

In [6]:
oly = pd.read_csv("summer.csv")

In [8]:
# Answer for the first question
# In how many cities Summer Olympics is held so far?
len(oly['City'].unique())

22

In [26]:
# Answer for the second question
# Which sport is having most number of Gold Medals so far? (Top 5)
total_gold = oly[oly['Medal'] == 'Gold']
total_gold['Sport'].value_counts().head()

Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
Name: Sport, dtype: int64

In [30]:
# Answer for the third question
# Which sport is having most number of medals so far? (Top 5)
oly['Sport'].value_counts().head()

Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Sport, dtype: int64

In [34]:
# Answer for the Fourth question
# Which player has won most number of medals? (Top 5)
oly['Athlete'].value_counts().head()

PHELPS, Michael       22
LATYNINA, Larisa      18
ANDRIANOV, Nikolay    15
ONO, Takashi          13
SHAKHLIN, Boris       13
Name: Athlete, dtype: int64

In [36]:
# Answer for the fifth question
# Which player has won most number Gold Medals of medals? (Top 5)
total_gold['Athlete'].value_counts().head()

PHELPS, Michael     18
LEWIS, Carl          9
NURMI, Paavo         9
SPITZ, Mark          9
LATYNINA, Larisa     9
Name: Athlete, dtype: int64

In [53]:
# Answer for the sixth question
# In which year India won first Gold Medal in Summer Olympics?
India_gold = total_gold[total_gold['Country'] == 'IND']
first_gold = India_gold.sort_values(['Year'],ascending=True).head(1)
first_gold['Year']

5512    1928
Name: Year, dtype: int64

In [45]:
# Answer for the seventh question
# Which event is most popular in terms on number of players? (Top 5)
oly['Event'].value_counts().head()

Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Event, dtype: int64

In [51]:
# Answer for the Eighth question
# Which sport is having most female Gold Medalists? (Top 5)
Women_gold = total_gold[total_gold['Gender'] == 'Women']
Women_gold['Sport'].value_counts().head()

Aquatics      589
Athletics     389
Gymnastics    268
Rowing        217
Volleyball    166
Name: Sport, dtype: int64